<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Creates a responsive website since it is sized to 
                        fit the device loading the content-->
    <meta charset="UTF-8"> <!-- UTF-8 is the default character set -->

    <head>
        <title>Mad Lib Madness</title>
        <!--icon does not show up since it is hosted on local server-->
        <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
        <style>
            img {
                object-fit: cover
            }
        </style>
    </head>

    <body style="background-color:rgb(223, 224, 229);">
        <h1> &#128516; Let's make a madlib! &#128516; </h1>
        <p>To create a complete story, please fill in the words and press the button</p>

        <form action = "http://localhost:5000/result" method = "POST">
            <fieldset>
                <legend>words</legend>
                <label for="noun">Noun:</label>
                <input type="text" id="noun" name="noun" required/>
            <!-- the required attribute will block submission until the field is filled -->
        
                <p>Adjective:<input type = "text" name = "adjective"/></p>
                <p>Verb:<input type = "text" name = "verb"/></p>
        
                <p> <input type = "submit" value = "click me!"/></p>
            </fieldset>

            <img src="https://raw.githubusercontent.com/k-a-w/Flask/refs/heads/main/images/Fridge.png" 
                alt="Poorly drawn turquoise fridge" style="float:right;width:472px;height:742px;">
        </form>
    </body>

</html>

